<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['style']">TP1</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [routerLink]="['cv']" routerLinkActive="active">CvTech</a>
      <a class="nav-item nav-link" [routerLink]="['cv','list']" routerLinkActive="active">Master Details</a>
      <a class="nav-item nav-link" [routerLink]="['products']" routerLinkActive="active">Products</a>
      <a class="nav-item nav-link" [routerLink]="['merge']" routerLinkActive="active">Merge</a>
      <a class="nav-item nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
      <a class="nav-item nav-link" [routerLink]="['style']" routerLinkActive="active">Style</a>
    </div>
  </div>
</nav>
