<div *ngIf="personne$ | async as personne" class="col-md-12 col-sm-6">
  <div *ngIf="personne.id > 0">
  <div class="card-container">
    <div class="card">
      <div class="front">
        <div class="cover">
          <img src="assets/images/rotating_card_thumb.jpg">
        </div>
        <div class="user">
          <img class="img-circle" src="assets/images/{{personne.path|defaultthumbnail}}">
        </div>
        <div class="content">
          <div class="main">
            <h3 class="name">{{personne.name}} {{personne.firstname}}</h3>
            <p class="profession">{{personne.job}}</p>
            <p class="text-center">{{personne.cin}}</p>
          </div>
          <div class="footer">
            <i class="fa fa-mail-forward"></i> Auto Rotation
          </div>
        </div>
      </div>
      <div class="back">
        <div class="header">
          <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
        </div>
        <div class="content">
          <div class="main">
            <h4 class="text-center">Age</h4>
            <h4 class="text-center" [style.color]="'red'">{{personne.age}}</h4>
            <div class="stats-container">
              <div class="stats">
                <h4>235</h4>
                <p>
                  Followers
                </p>
              </div>
              <div class="stats">
                <h4>114</h4>
                <p>
                  Following
                </p>
              </div>
              <div class="stats">
                <h4>35</h4>
                <p>
                  Projects
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="footer">
          <button class="btn btn-danger" (click)="embaucher(personne)">Embaucher</button>
          <button class="btn btn-primary" (click)="getmoreinfo(personne.id)">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
